In [ ]:
# ***Introduction to python**

In [5]:
print("hello world")

hello world

In [6]:
print("hey")

hey

HI

#

#Data type
1)Number System
   -->Int
    ->Float
    ->Complex
2) string
    -> ''
    -> ""
    ->""" """ OR ''' '''
3) List
    ->[]
    ->Mutable Data type(We can update the actual data)
    ->Array(plastic bag)--> put multiple data in this array
    ->Index properties
4)Tuples
    ->()
    ->Immutable data type(WE CANT UPDATE THE DATA)
    ->Array
    ->Index Properties
    
 5)Dictionary
    ->{}
    ->{Key : value}
    -> look alike jason
    ->it doesn't follow index properties
    ->it is mutable
    
 6)Set
    ->{}
    ->BAsic set operation
    like union,adjoint,intrsection etc

In [1]:
#Assignment
#python support multiple assignment
a=3
a,b = 2,4
print(a,b)

2 4

In [10]:
#variable
a = 23
print(a)

23

In [13]:
__A = 23
print(__A)
_____s = 56
print(_____s)
23s = 56
print(23s)

SyntaxError: invalid syntax (<ipython-input-13-38d0a5f2d036>, line 5)

In [11]:
_a = 44
print(_a)

44

In [12]:
_a_ = 55
print(_a_)

55

In [14]:
a__ =5
print(a__)

5

# Note - 
#1)While declaring variable...variable name can be start
#with underscore and character
#2) variable with char andno is also valid

In [4]:
#swaping of two nos
a = 3
b = 4
d = a
c = b
a = c
b = d

print ("values of a & b is",c,d)

a,b = 3,4
a,b = b,a
print(a,b)
a,b = 3,4
a = int(input("Please insert the value a "))
b = int(input("Please insert the value of b "))
c = a*b
ab = c
ab=ba
print(ab)
print(ab)
c = list(range(c,1,-1))
print(c)

values of a & b is 4 3
4 3
Please insert the value a 3
Please insert the value of b 4

NameError: name 'ba' is not defined

In [26]:
#swapping of two
a,b = 2,4
a,b = b,a
print("variables are",a,b)

variables are 4 2

In [28]:
a = 'ss'
b = 4
print("variables are",a,b)

variables are ss 4

In [6]:
a = 3
b = 'yash'
c,d,e = 'why','so','this'
print(a,b,c,d,e)

3 yash why so this

# Operators
#Python supports seven types of operator

# arithmetic operator
a = 20
b = -40

#addition
print("Addition of values",a+b)
#sub
print("Subtration of values",a-b)
#multi
print("multiplication of values",a*b)
#div
#division of values in python gives exact values
print("Exact division of values",a/b)
#module will give remainder
print("module division values",a%b)
#floor division
#Floor division in python gives quotient
#floor will always give lowest minus value of a quotient
print("Floor division value is",a//b )

In [13]:
a= 3
b= 4
print(a**b) # 3^4 -->>3*3*3*3 #a raise to b
a = 4
b = 6
c = a//b
print(c)
e = int(input("Tell us the value to be multiplied"))
#e = 2
d = c**e
print(d)

81
0
Tell us the value to be multiplied2
0

# comparison
a = 3
b = 34
print(a>b,a<b,a!=b,a==b,a>=b,a<=b)
#booleans first letter should be CAPITAL

In [16]:
a = 4
b = 9
print(a>b,a<=b,a==b)

False True False

# Assignment
a=10
print(a)
a+=10
print(a)
a**=10 # compound assignment
print(a)
a//=10
print(a)

In [21]:
a//=10
print(a)
a+=10
print(a)
a-=10
print(a)
a/=3
print(a)

0
10
0
0.0

In [23]:
a = 10
a+=10
print(a)
a//=10
print(a)

20
2

In [41]:
#python Doesn't support pre and post increment like
a = 10
a++
a--
print(a)#invalid
a=10
print(a++)
print(a)
a=10
print(++a)
print(a)

SyntaxError: invalid syntax (<ipython-input-41-04956fe7e1fd>, line 3)

# Bitwise
a=10
b=2
print(bin(a))
print(bin(2))
c= a&b
print("and of a and b value is",bin(c))#to convert decimal into binary
print(c)
d= a|b
print("or of a and b value is",bin(d))
print(d)

In [29]:
a=0
b=2
print(bin(a))
print(bin(2))
c= a&b
print("and of a and b value is",c)#to convert decimal into binary
print(c)
d= a|b&c
print("or of a and b value is",bin(d))
print(d)

0b0
0b10
and of a and b value is 0
0
or of a and b value is 0b0
0

# Membership
a = "Hello world"
print("w" in a)
print ("world" in a)
print ("W" not in a)
print ("W" in a)

In [38]:
a = "Hello world"
b = "Hello world"
print("w" in a)
print ("world" in a)
print ("W" not in a)
print ("W" in a)
print(id(a))
print(id(b))
c = 3
d = 3
print(id(c))
print(id(d))

True
True
True
False
285731811184
285731810672
1975217696
1975217696

In [51]:
#How does python save memory? or 
#why space complexity in python is very less compare other programming lang?

a= 20
b= 20
print(id(a))
print(id(b))# it will save the memory in the first itself anf give a reference to other variables having the same value

1812554496
1812554496

#identity

a = 10
b = 10
print(a is b)
print(not a is b)

# identity

a = 10
b = 10
print(a is b)
print(not a is b)

# logical operator

a = 10
b = 20
c = 10
print(a and b)
print (a or b)
print(a and b or c)
print (a and b and c)
print (a or b and c)
a = 0
b = 20 
c = 10
print(a and b)
print (a or b)
print(a and b or c)
print (a and b and c)
print (a or b and c)

In [3]:
a = 10
b = 20
c = 10
print(a and b)
print (a or b)
print(a and b or c)
print (a and b and c)
print (a or b and c)
a = 0
b = 20 
c = 10
print(a and b)
print (a or b)
print(a and b or c)
print (a and b and c)
print (a or b and c)
b = 10
c = 0
print(b and c)

20
10
20
10
10
0
20
10
0
10
0

In [59]:
#precedence operator
a =2 
b=3
c=1
print(a*b+c**b-a*c)

5

# Note
#Highest precedence->**
#lowest precedence->logical operator

In [61]:
#Decision making

#Python follows rule of indentation-->1 tab-->4 blankspace

#Indentation rule
#will be applicable only on block of code
#python doesn't allow {} but allows ;

#Decision making include
#->if statement
#->if else statement
#->if elif else statement
# note ->No switch case in python

SyntaxError: invalid syntax (<ipython-input-61-f423c91f13a4>, line 10)

In [47]:
a = 20
b = 20
if a>b:#colon to make cursor enter that if block
    print("a is greater")
else:
    print("b is greater")
if (a==b):
    print("both are equal")
    
a = "Yash in Drama"
print(a) if ('Yash' in a and 'Drama' in a) else print("WHy such mistakes")

if ('love' in a):
    print("Absolutely correct")
elif('Yash' in a or 'love' in a):
    print("Perfect...Bingo!")
else:
    print("Better luck next time")

b is greater
both are equal
Yash in Drama
Perfect...Bingo!

In [49]:
a = 10
b = 10
c = 10
if (a>b and a>c):
    print("a is greater") 
elif(b>a and b>c):
    print("b is greater") 
else:
    print("c is greater")

c is greater

In [71]:
###
a = 20
b = 10
print(a) if a>b else print(b)

20

In [76]:
#Single line then else if else if
a = 10
b = 20
c = 30
print(a) if a>b and a>c else print(b) if (b>c and b>a) else print(c)

30

In [50]:

print(list(range(100)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [80]:
print(list(range(-100,100)))

[-100, -99, -98, -97, -96, -95, -94, -93, -92, -91, -90, -89, -88, -87, -86, -85, -84, -83, -82, -81, -80, -79, -78, -77, -76, -75, -74, -73, -72, -71, -70, -69, -68, -67, -66, -65, -64, -63, -62, -61, -60, -59, -58, -57, -56, -55, -54, -53, -52, -51, -50, -49, -48, -47, -46, -45, -44, -43, -42, -41, -40, -39, -38, -37, -36, -35, -34, -33, -32, -31, -30, -29, -28, -27, -26, -25, -24, -23, -22, -21, -20, -19, -18, -17, -16, -15, -14, -13, -12, -11, -10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [83]:
print(list(range(100)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [53]:
print(list(range(1,100)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [84]:
print(list(range(0,100,2)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [1]:
print(tuple(range(100,0,-1)))

(100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [91]:
print(list(range(10,1)))#this will not work because the jump should be there and that too negative for reverse flow

[]

In [92]:
# LOOP
#While
#for loop
#nested loop
#infinity loop for menu driven
#control statement-->break-->continue-->pass
#Single line loop

In [93]:
counter = 0

In [94]:
#to take data from user
#input()
#int()
#float()
#str()
#list()
#tuple()

In [97]:
name = input("Enter your name")

if ("admin" in name):
    print("Welcome admin",name)
else:
    print("Welcome ",name)

Enter your nameYash
Welcome  Yash

In [56]:
#addition
no1 = float(input("Enter no 1"))#float so as to read it as a no if you will not use no then it will concatenate the nob
no2 = float(input("Enter no 2"))
print(no1 - no2)

Enter no 120
Enter no 210
10.0

In [2]:
### loop
#while
counter = 0
while(counter < 10):
    print("hello all")
    counter+=1

hello all
hello all
hello all
hello all
hello all
hello all
hello all
hello all
hello all
hello all

#for loop
for i in

In [73]:
#for loop
for i in "hello world":
    print(i,end=" " )
    print()
    
for i in tuple(range(1,10)):
    print(i,end=" ")
for i in range(1,10):
    print(i)
for i in list(range(1,10)):
    print(i)
for i in "hello world":
    print(i,end=" ")

h
e
l
l
o

w
o
r
l
d
1 2 3 4 5 6 7 8 9 1
2
3
4
5
6
7
8
9
1
2
3
4
5
6
7
8
9
h e l l o   w o r l d

In [71]:
for row in range(1,101):
    for col in range(1,11):
        print(row*col,end=" ")
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100
11 22 33 44 55 66 77 88 99 110
12 24 36 48 60 72 84 96 108 120
13 26 39 52 65 78 91 104 117 130
14 28 42 56 70 84 98 112 126 140
15 30 45 60 75 90 105 120 135 150
16 32 48 64 80 96 112 128 144 160
17 34 51 68 85 102 119 136 153 170
18 36 54 72 90 108 126 144 162 180
19 38 57 76 95 114 133 152 171 190
20 40 60 80 100 120 140 160 180 200
21 42 63 84 105 126 147 168 189 210
22 44 66 88 110 132 154 176 198 220
23 46 69 92 115 138 161 184 207 230
24 48 72 96 120 144 168 192 216 240
25 50 75 100 125 150 175 200 225 250
26 52 78 104 130 156 182 208 234 260
27 54 81 108 135 162 189 216 243 270
28 56 84 112 140 168 196 224 252 280
29 58 87 116 145 174 203 232 261 290
30 60 90 120 150 180 210 240 270 300
31 62 93 124 155 186 217 248 279 310
32 64 96 128 160 192 224 256 288 320
33 66 99 132 165 198 231 264 297 330
34 68 102 136 170 204 238 272 306 340
35 70 105 140 175 210 245 280 315 350
36 72 108 144 180 216 252 288 324 360
37 74 111 148 185 222 259 296 333 370
38 76 114 152 190 228 266 304 342 380
39 78 117 156 195 234 273 312 351 390
40 80 120 160 200 240 280 320 360 400
41 82 123 164 205 246 287 328 369 410
42 84 126 168 210 252 294 336 378 420
43 86 129 172 215 258 301 344 387 430
44 88 132 176 220 264 308 352 396 440
45 90 135 180 225 270 315 360 405 450
46 92 138 184 230 276 322 368 414 460
47 94 141 188 235 282 329 376 423 470
48 96 144 192 240 288 336 384 432 480
49 98 147 196 245 294 343 392 441 490
50 100 150 200 250 300 350 400 450 500
51 102 153 204 255 306 357 408 459 510
52 104 156 208 260 312 364 416 468 520
53 106 159 212 265 318 371 424 477 530
54 108 162 216 270 324 378 432 486 540
55 110 165 220 275 330 385 440 495 550
56 112 168 224 280 336 392 448 504 560
57 114 171 228 285 342 399 456 513 570
58 116 174 232 290 348 406 464 522 580
59 118 177 236 295 354 413 472 531 590
60 120 180 240 300 360 420 480 540 600
61 122 183 244 305 366 427 488 549 610
62 124 186 248 310 372 434 496 558 620
63 126 189 252 315 378 441 504 567 630
64 128 192 256 320 384 448 512 576 640
65 130 195 260 325 390 455 520 585 650
66 132 198 264 330 396 462 528 594 660
67 134 201 268 335 402 469 536 603 670
68 136 204 272 340 408 476 544 612 680
69 138 207 276 345 414 483 552 621 690
70 140 210 280 350 420 490 560 630 700
71 142 213 284 355 426 497 568 639 710
72 144 216 288 360 432 504 576 648 720
73 146 219 292 365 438 511 584 657 730
74 148 222 296 370 444 518 592 666 740
75 150 225 300 375 450 525 600 675 750
76 152 228 304 380 456 532 608 684 760
77 154 231 308 385 462 539 616 693 770
78 156 234 312 390 468 546 624 702 780
79 158 237 316 395 474 553 632 711 790
80 160 240 320 400 480 560 640 720 800
81 162 243 324 405 486 567 648 729 810
82 164 246 328 410 492 574 656 738 820
83 166 249 332 415 498 581 664 747 830
84 168 252 336 420 504 588 672 756 840
85 170 255 340 425 510 595 680 765 850
86 172 258 344 430 516 602 688 774 860
87 174 261 348 435 522 609 696 783 870
88 176 264 352 440 528 616 704 792 880
89 178 267 356 445 534 623 712 801 890
90 180 270 360 450 540 630 720 810 900
91 182 273 364 455 546 637 728 819 910
92 184 276 368 460 552 644 736 828 920
93 186 279 372 465 558 651 744 837 930
94 188 282 376 470 564 658 752 846 940
95 190 285 380 475 570 665 760 855 950
96 192 288 384 480 576 672 768 864 960
97 194 291 388 485 582 679 776 873 970
98 196 294 392 490 588 686 784 882 980
99 198 297 396 495 594 693 792 891 990
100 200 300 400 500 600 700 800 900 1000

In [ ]:
##menu driven using infinity loop
amount = 2000
pin = 2468
while(True):
    choice = int(input("1.'cash withdrawal', 2.Balance Enquiry, 3. Pin change, 4. Exit"))
    if (choice == 1):
        entered_pin= int(input("Enter your pin"))
        if(entered_pin == pin):
            withdrawal_amnt = int(input("Enter the amount"))
            if(withdrawal_amnt > amount):
                print("Please Try again")
            if(withdrawal_amnt <= amount):
                print("Please wait processing your money")
                amount -= withdrawal_amnt
                print("Please collect your cash")
                
            elif (choice == 2):
                entered_pin= int(input("Enter your pin"))
                if(entered_pin == pin):
                    print("your amount is ",amount)
            
            elif (choice == 3):
                entered_pin=int(input("Enter your pin"))
                if(entered_pin == pin):
                    pin = input("Enter your new pin")
                    print("Your pin has been changed successfully")
            elif (choice == 4):
                print("Thanks for using ATM")
            else:
                print("Enter valid option")

1.cash withdrawal, 2.Balance Enquiry, 3. Pin change, 4. Exit2